@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .font-bebas{
          font-family: "Bebas Neue", sans-serif;
    }
    .font-roboto {
        font-family: "Roboto", sans-serif;
        
    }
    .max-width{
        max-width: 1170px;
    }

    .banner-heading {
        font-size: clamp(1.75rem,6vw, 80px);
    }
    
    .section-heading {
        font-size: clamp(1.75rem, 6vw, 48px);
    }
    .flex-heading {
        font-size: clamp(1.75rem, 6vw, 64px);
    }

    .bg-image {
        background-image: url('./shapes/Group330941.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


}